

body{
  font-family: 'Rubik', sans-serif;
}


.App {
    display: flex;
    flex-wrap: nowrap;
    height: 100vh;
}

.left-section{
  height: 100vh;
  flex-basis: 100%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
.left-section__footer{
  position:absolute;
  bottom:0;
  width:100%;
}
